.user-table{
  width: 100%;
  border: 1px solid white;
  border-radius: 2px;
}
ng-container{
  margin: auto;
}

.mat-column-identifier{
  width: 24px;
}

.mat-column-sex{
  width: 64px;
}

mat-card-footer {
  padding-top:10px;
}

.mat-column-delete-button {
  width: 48px;
}

.record-delete-button {
  border-radius: 16px;
}
