.col-md-4{
  display: flex;
  justify-content: space-between;
}

.mat-button{
  margin: 4px;
}

mat-icon{
padding: 25%;
}

.btn-group {
 display: flex;
}

.doctor-list {
  height: 400px;
  overflow: auto;
}

.doctor-table{
  width: 100%;
  border: 1px solid white;
  border-radius: 2px;
}

.mat-column-identifier{
  width: 48px;
}

.doctor-gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 10%;
}

.doctor-gallery-card {
  max-width: 500px;
  width: 25%;
  margin: 5px;
}

.doctor-gallery-card-avatar{
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
