<div>
  <div class="button-row">
    <mat-card class="home-news">
      News
    </mat-card>
    <mat-card class="home-takeVisit" [routerLink]="['/visit_form']">
        Take a visit
    </mat-card>
    <mat-card class="home-contact" [routerLink]="['/contact']">
        Contact
    </mat-card>
  </div>
  <div class="home-main">
    <mat-card class="home-main-welcome">
      <mat-card-content>
        Welcome!
      </mat-card-content>
    </mat-card>
  </div>
  <div class="home-description">
<!--    todo pobierac to z bazy danych-->
    <mat-card>
      <mat-card-title>About Hospital</mat-card-title>
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut porttitor leo a diam sollicitudin. Ut tellus elementum sagittis vitae et. Phasellus faucibus
          scelerisque eleifend donec. Eget aliquet nibh praesent tristique magna sit amet purus gravida. Semper risus in
          hendrerit gravida rutrum. Turpis nunc eget lorem dolor sed viverra ipsum. Luctus venenatis lectus magna
          fringilla urna porttitor rhoncus. Elementum eu facilisis sed odio morbi quis commodo. Dignissim cras tincidunt
          lobortis feugiat vivamus. Vestibulum sed arcu non odio euismod lacinia at quis risus. Tellus in metus
          vulputate eu scelerisque. Ac auctor augue mauris augue. Sed augue lacus viverra vitae congue eu. Velit laoreet
          id donec ultrices tincidunt arcu non sodales neque. Imperdiet dui accumsan sit amet nulla facilisi morbi
          tempus iaculis. Viverra adipiscing at in tellus integer feugiat scelerisque. Fusce id velit ut tortor. Tortor
          id aliquet lectus proin nibh nisl. Cursus turpis massa tincidunt dui.
        </p>
        <p>
          Non odio euismod lacinia at quis. Cursus mattis molestie a iaculis at erat. Cursus risus at ultrices mi.
          Convallis aenean et tortor at risus viverra adipiscing at in. Aliquam faucibus purus in massa tempor nec.
          Integer enim neque volutpat ac tincidunt vitae semper. Enim nec dui nunc mattis enim ut. Vitae ultricies leo
          integer malesuada nunc vel risus commodo. Duis convallis convallis tellus id interdum velit laoreet id.
          Ullamcorper sit amet risus nullam eget felis eget.
        </p>
        <p>
          Nibh nisl condimentum id venenatis a condimentum vitae sapien pellentesque. Malesuada bibendum arcu vitae
          elementum curabitur vitae nunc sed. Lacinia quis vel eros donec ac odio. Venenatis cras sed felis eget velit
          aliquet sagittis id. Arcu risus quis varius quam quisque. Convallis a cras semper auctor neque. Duis ultricies
          lacus sed turpis tincidunt id. Consectetur purus ut faucibus pulvinar. Sem integer vitae justo eget magna
          fermentum iaculis. Blandit libero volutpat sed cras ornare arcu dui vivamus arcu. Non odio euismod lacinia at
          quis. Mus mauris vitae ultricies leo. Id venenatis a condimentum vitae sapien pellentesque. Nibh praesent
          tristique magna sit amet purus gravida quis blandit. Id consectetur purus ut faucibus pulvinar elementum
          integer enim neque. Viverra adipiscing at in tellus integer. Diam sit amet nisl suscipit adipiscing.
          Scelerisque fermentum dui faucibus in ornare quam viverra orci. Sit amet consectetur adipiscing elit
          pellentesque. Vitae proin sagittis nisl rhoncus mattis rhoncus urna neque viverra.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
