<div class="contact">
  <h1>Contact</h1>
  <h2>SZPITAL ŚREDZKI SERCA JEZUSOWEGO SP. Z O.O.</h2>
  <h3>Ul. Żwirki i Wigury 10, 63-000 ŚRODA WLKP.</h3>
  <div class="contact-telephone-list">
  <mat-list>
    <h3>Telephone number:</h3>
    <mat-list-item>Secretary: 123456789</mat-list-item>
    <mat-list-item>Management: 123456789</mat-list-item>
    <mat-list-item>Cooperation: 123456789</mat-list-item>
    <mat-list-item>Advertising: 123456789</mat-list-item>
  </mat-list>
  </div>
  <div class="contact-google-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4748.767201616018!2d17.28896069630643!3d52.22597478914108!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4704fb1584754703%3A0x7ac8b775af4eef40!2sSzpital%20%C5%9Aredzki%20Serca%20Jezusowego%20Sp%C3%B3%C5%82ka%20z%20o.o.!5e0!3m2!1spl!2spl!4v1666730812320!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
