<div>
  <h1>Contact</h1>
  <h2>SZPITAL ŚREDZKI SERCA JEZUSOWEGO SP. Z O.O.</h2>
  <h3>Ul. Żwirki i Wigury 10, 63-000 ŚRODA WLKP.</h3>
  <mat-list>
    <h3>Telephone number</h3>
    <mat-list-item>Secretary: 123456789</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Management: 123456789</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Cooperation: 123456789</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Advertising: 123456789</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
  <p>mapa google</p>
</div>
