<div class="user-details">
  <mat-card>
    <mat-card-title>User details</mat-card-title>
    <mat-card-content>

      <div class="user-id">
        <h2>Identifier: </h2>
        <div>{{userDetails.id}}</div>
      </div>

      <div *ngIf="userDetails.doctorId != null" class="user-doctor-id">
        <h2>Doctor identifier: </h2>
        <div>{{userDetails.doctorId}}</div>
      </div>

      <div class="user-name">
        <h2>First name: </h2>
        <div>{{userDetails.name}}</div>
      </div>

      <div class="user-surname">
        <h2>Last name: </h2>
        <div>{{userDetails.surname}}</div>
      </div>

      <div class="user-phoneNumber">
        <h2>Phone number: </h2>
        <div>{{userDetails.phoneNumber}}</div>
      </div>

      <div class="email">
        <h2>email: </h2>
        <div>{{userDetails.email}}</div>
      </div>

      <div class="birthDate">
        <h2>Birth Date: </h2>
        <div>{{userDetails.birthDate}}</div>
      </div>

      <div class="sex">
        <h2>Sex: </h2>
        <div>{{userDetails.sex}}</div>
      </div>

      <div class="roles">
        <h2>Roles: </h2>
        <div>{{userDetails.roles}}</div>
      </div>

      <div class="createDate">
        <h2>Create Date: </h2>
        <div>{{userDetails.createDate}}</div>
      </div>

      <div class="updateDate">
        <h2>Update Date: </h2>
        <div>{{userDetails.updateDate}}</div>
      </div>

    </mat-card-content>
  </mat-card>
  <app-user-editor>
  </app-user-editor>
</div>
