<mat-card >
  <mat-card-title>Users List</mat-card-title>
  <mat-card-subtitle>List of users</mat-card-subtitle>
  <mat-card-content class="users-list-content">
    <table mat-table [dataSource]="userServiceService.userList" class="mat-elevation-z2 user-table">

      <ng-container matColumnDef="identifier">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let user">{{user.id}}</td>
      </ng-container>

      <ng-container matColumnDef="login">
        <th mat-header-cell *matHeaderCellDef>Login</th>
        <td mat-cell *matCellDef="let user">{{user.login}}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>First name</th>
        <td mat-cell *matCellDef="let user">{{user.name}}</td>
      </ng-container>

      <ng-container matColumnDef="surname">
        <th mat-header-cell *matHeaderCellDef>Last name</th>
        <td mat-cell *matCellDef="let user">{{user.surname}}</td>
      </ng-container>

      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef>Phone Number</th>
        <td mat-cell *matCellDef="let user">{{user.phoneNumber}}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let user">{{user.email}}</td>
      </ng-container>

      <ng-container matColumnDef="birthDate">
        <th mat-header-cell *matHeaderCellDef>Birth Date</th>
        <td mat-cell *matCellDef="let user">{{user.birthDate}}</td>
      </ng-container>

      <ng-container matColumnDef="sex">
        <th mat-header-cell *matHeaderCellDef>Sex</th>
        <td mat-cell *matCellDef="let user">{{user.sex}}</td>
      </ng-container>

      <ng-container matColumnDef="roles">
        <th mat-header-cell *matHeaderCellDef>Roles</th>
        <td mat-cell *matCellDef="let user">{{user.roles}}</td>
      </ng-container>

<!--      <ng-container matColumnDef="delete-button">-->
<!--        <th mat-header-cell *matHeaderCellDef></th>-->
<!--        <td mat-cell *matCellDef="let product">-->
<!--          <button class="record-delete-button" mat-button mat-raised-button color="warn" (click)="deleteProduct(product.id)">Delete</button>-->
<!--        </td>-->
<!--      </ng-container>-->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
<!--    <mat-card-footer>-->
<!--      <mat-progress-bar *ngIf="productService.loadingList" mode="indeterminate"></mat-progress-bar>-->
<!--    </mat-card-footer>-->
  </mat-card-content>
</mat-card>
