<app-doctor-list
  [doctors]="doctorList">

</app-doctor-list>

<!--<div class="doctors-container">-->
<!--  <mat-grid-list cols="12" rowHeight="24px">-->
<!--&lt;!&ndash;    &lt;!&ndash; Pasek na którym wyświetlimy guzik &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    <mat-grid-tile [colspan]="10" rowspan="2"></mat-grid-tile>&ndash;&gt;-->
<!--&lt;!&ndash;    <mat-grid-tile [colspan]="2" rowspan="2">&ndash;&gt;-->
<!--&lt;!&ndash;      <button mat-raised-button&ndash;&gt;-->
<!--&lt;!&ndash;              mat-icon-button&ndash;&gt;-->
<!--&lt;!&ndash;              class="doctor-btn-add"&ndash;&gt;-->
<!--&lt;!&ndash;              [routerLink]="['form']">&ndash;&gt;-->

<!--&lt;!&ndash;        <mat-icon>add</mat-icon>&ndash;&gt;-->
<!--&lt;!&ndash;      </button>&ndash;&gt;-->
<!--&lt;!&ndash;    </mat-grid-tile>&ndash;&gt;-->

<!--    &lt;!&ndash; Tutaj umieścimy tabelkę z produktami &ndash;&gt;-->
<!--    <mat-grid-tile [colspan]="12" rowspan="28">-->
<!--      <div class="doctors-content-tile">-->
<!--        <app-doctor-list [doctors]="doctorList" ]></app-doctor-list>-->
<!--      </div>-->
<!--    </mat-grid-tile>-->
<!--  </mat-grid-list>-->
<!--</div>-->
