<mat-card>
  <mat-card-title>Formula duty</mat-card-title>
  <mat-card-subtitle>Adding new duty</mat-card-subtitle>
  <mat-card-content>
    <form (ngSubmit)="sendAddDutyRequest()">

      <mat-form-field appearance="standard">
        <mat-label>Duty from:</mat-label>
        <input matInput type="datetime-local" placeholder="yyyy-MM-ddTHH:mm:ss" [(ngModel)]="request.dutyFrom" [ngModelOptions]="{standalone: true}" required>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>Duty to:</mat-label>
        <input matInput type="datetime-local" placeholder="yyyy-MM-ddTHH:mm:ss" [(ngModel)]="request.dutyTo" [ngModelOptions]="{standalone: true}" required>
      </mat-form-field>

      <mat-form-field *ngIf="authService.hasRole('ROLE_ADMIN')" appearance="standard" >
        <mat-label>Doctor id:</mat-label>
        <input matInput type="number" placeholder="Doctor id:" [(ngModel)]="request.doctorId" [ngModelOptions]="{standalone: true}" required>
      </mat-form-field>

      <div class="form-button-row">
        <button class="submit-button" type="submit" mat-button mat-raised-button>Submit</button>
        <button class="clear-button" type="reset" mat-button mat-raised-button >Clear</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
